@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  color-scheme: dark;
}

body {
  background-color: #000;
  color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}